body {
    font-family: 'Helvetica Neue', serif;
    background: #0B0B0B;
}

.home {
    padding-top: 14px;
}

.logo {
    margin-top: 56px;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
}

.logo span {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-right: 3px;
    background: linear-gradient(90deg, #2C9AFF 0%, #FFF500 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-page {
    min-height: 100%;
}

.main-picture {
    margin-top: 20%;
}

